.header {
  text-align: center;
}
.logo {
  height: 50px;
}
.header nav {
  background-color: black;
  line-height: 40px;
}
.header nav .menu {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  padding: 5px;
  font-size: 20px;
}
.header nav .menu:hover {
  background-color: lightgray;
}
